doctype html
html
  head
    link(href='style.css' rel='stylesheet')
    script(src='script.js')
    title= title
  body
    h1= title 
    p= message
    
    .container.hidden
      each pj, index in personajes
        .card
          img.card-img(src=pj.estado == 'tapada' ? 'img/images.jpg' : pj.image, data-image=pj.image, data-status=pj.estado)
          h6.name-char #{pj.name}
          p #{pj.id}
    .scoreboard.hidden
      p#time Contador de segundos: 0
      p#attempts Contador de intentos: 0