doctype html
html
  head
    link(href='style.css' rel='stylesheet')
    script(src='script.js')
    title= title
    script. 
      var jugador = !{JSON.stringify(jugador)}
  body
    h1= title 
    p= message
    
    .container.hidden
      each carta in personajes
        .card
          img.card-img(src='img/images.jpg', data-image=carta.image, data-id=carta.id, data-status=carta.estado)
          h6.name-char #{carta.name}
          p #{carta.id}

    .scoreboard.hidden
      p#time Contador de segundos: 0
      p#attemps Contador de intentos: 0