doctype html
html
  head
    link(href='style.css' rel='stylesheet')
    title= title
    script(src='flipCard.js')
  body
    h1= message
    .container
      each pj, index in personajes
        .card
          img.card-img(src=pj.estado == 'tapada' ? 'img/images.jpg' : pj.image, data-image=pj.image)
          h6.name-char #{pj.name}
          p #{pj.id}
