doctype html
html
    head 
        title Mejores Partidas 
    body
        h1  Mejores Partidas
        table
            tr
                th Nombre
                th Apellido
                th Email
                th Puntaje
                th Fecha
            each partida in partidas
                tr
                    if partida.jugador
                        td= partida.jugador.name
                        td= partida.jugador.surname
                        td= partida.jugador.email
                    else 
                        td N/A
                        td N/A
                        td N/A
                    td= partida.score
                    td= new Date(partida.date).toLocaleString()